.custom-input-style {
  padding-left: 5px;
  min-width: 16px;
  min-height: 24px;
  max-width: 400px;
  border: none;
  font-family: 'Hiragino Sans';
  font-size: 12;
  font-weight: 300;
  line-height: 28px;
  color: '#333333';
}
