.custom-input-style {
  padding-left: 4px;
  min-width: 12px;
  min-height: 24px;
  max-width: '100%';
  border: none;
  font-family: 'Hiragino Sans';
  font-size: 12;
  font-weight: 300;
  line-height: 28px;
  color: '#333333';
}
